
p  {
color: black;
font-family: courier;
font-size: 160%;


}
h1 {
color: blue;
font-family: verdana;
font-size: 300%;
}
html,body{padding:0;margin:0;overflow-x:hidden;}
body{background:url("bg.jpg") no-repeat center center fixed;}
table{width:90%;border:1px solid #bababa;box-shadow:0px 0px 5px #bababa;margin:13px auto;}
thead{border-bottom:3px solid #bababa}
thead a{font-size:23px;font-weight:bold;text-decoration:none;}
.homestyle{padding:35px;}
.page_title h1{text-shadow:0px 0px 3px #dedede;color:red;}
.menu {width:100%;list-style-type:none;}
.menu li:last-child:After{clear:both;}
.menu a{font-size:23px;font-weight:bold;text-decoration:none;color:green;border:1px solid #bababa;padding:5px;border-radius:5px;background:white;}
.menu li {float:left;width:33%;text-align:center;}
.menu li.selected a{color:red;}
.menu li a:hover{padding:15px;border:1px solid red;}